{
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=nfc-home.db;Foreign Keys=True"
  },
  "AdminAuth": {
    "Username": "admin",
    "PasswordHash": ""
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
