{
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=App_Data/nfc-home.db;Foreign Keys=True"
  },
  "AdminAuth": {
    "Username": "admin",
    "PasswordHash": "100000.boMX6J+Pde064n8bJAZu2A==.rkxchGR0TUzQQ3wyBJGXY1iDFNBcVb9oQXvHjDCzu+w="
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "nfc.scitani1921.cz"
}
