<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishDir>publish\forpsi\</PublishDir>
    <DeleteExistingFiles>false</DeleteExistingFiles>
  </PropertyGroup>
</Project>
